<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecToolkit | Security Utility</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    {% include 'components/header.html' %}
    {% include 'components/subnav.html' %}

    <div class="main-container">
        {% include 'components/views/pac.html' %}
        {% include 'components/views/transformer.html' %}
        {% include 'components/views/analyzer.html' %}
        {% include 'components/views/system.html' %}
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/static/js/main.js"></script>
</body>
</html>
